{# grinnell.twig #}

{% block content %}
  {% autoescape false %}

  {# Construct some variables... #}

  {# Define these OUTSIDE of all for... loops so they persist! #}
  {% set value = '' %}
  {% set creators = '' %}
  {% set title = '' %}
  {% set indexDate = '' %}
  {% set gen = '' %}
  {% set publisher = '' %}
  {% set handle = '' %}
  {% set local = '' %}
  {% set isPartOf = '' %}
  {% set role = '' %}
  {% set idl = '' %}

  {# Creator names...  Only choose namePart values that are NOT iterable (have no attributes) #}
  {% for n in name %}
    {% for p in n['namePart'] %}
      {% if p['@type'] is not defined %}
        {% set value = p['$']|trim %}
        {# value: {{ value }}<br/> #}
        {% set break = false %}
        {% for r in n['role'] if not break %}
          {# r[roleTerm]: {{ r['roleTerm']['$'] }}<br/> #}
          {% if r['roleTerm']['$'] == 'author' or r['roleTerm']['$'] == 'creator' %}
            {% set creators = creators ~ ' ' ~ value ~ ';' %}
            {# creators: {{ creators }}<br/> #}
            {% set break = true %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% set creators = creators|trim(';') %}

  {# Title... #}
  {% for t in titleInfo %}
    {% if t['@type'] is not defined %}
      {% set title = t['title']['$']|trim %}
    {% endif %}
  {% endfor %}

  {# Publisher... #}
  {% if originInfo['publisher'] %}
    {% set publisher = originInfo['publisher']['$']|trim %}
  {% endif %}

  {# Genre... #}
  {% if genre %}
    {% set gen = genre['$']|trim %}
  {% endif %}

  {# Index Date... #}
  {% if originInfo['dateCreated'] %}
    {% set indexDate = originInfo['dateCreated']['$']|trim %}
  {% endif %}

  {# Handle and Local identifiers... #}
  {% for id in identifier %}
    {% set idl = id['$']|lower %}
    {% if id['@type'] == 'hdl' %}
      {% set handle = idl|trim %}
    {% elseif id['@type'] == 'local' %}
      {% if 'http' in idl %}
        {% set local = idl|trim %}
      {% else %}
        {% set local = "https://digital.grinnell.edu/islandora/object/" ~ idl|trim %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {# relatedItems isPartOf list... #}
  {% for item in relatedItem %}
    {% for k,v in item %}
      {% if v == 'isPartOf' %}
        {% set isPartOf = isPartOf ~ item['titleInfo'][0]['title']['$']|trim ~ "<br/>" %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {# Now build the HTML page #}

  <html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <head>
      <style type="text/css">
        body { margin-left: 10px; font-size: 12px; }
        p.indented { display: block; margin-left: 20px; }
        h1 { font-size: 18px; font-weight: bold; }
        h2 { font-size: 14px; font-style: italic; }
        img { display: block; height: 65px; }
      </style>
    </head>

    <body>

      <img src="/sites/default/modules/dg7/dgCoverSheetLogo.png"/>

      <p>
        This work is part of the Digital Grinnell collection at Grinnell College, Grinnell, Iowa.<br/>
        Find this and additional works at: <a href='https://digital.grinnell.edu/'
                                              target='_blank'>https://digital.grinnell.edu/</a>
      </p>

      {{ indexDate }}

      <h1>{{ title }}</h1>

      {{ creators }}

      <h2>Citation: </h2>
      <p class="indented">
        {% if creators is not null and creators is not empty %}
          {{ creators|trim('.') }}.
        {% endif %}
        {% if indexDate is not null and indexDate is not empty %}
          {{ indexDate }}.
        {% endif %}
        "{{ title }}".
        {% if publisher is not null and publisher is not empty %}
          {{ publisher }}.
        {% endif %}
        {% if handle is not null and handle is not empty %}
          hdl: {{ handle }}.
        {% endif %}
      </p>

      {% if abstract is not null and abstract is not empty %}
        <h2>Abstract: </h2>
        <p class="indented">
          {{ abstract['$']|trim }}
        </p>
      {% endif %}

      {% if genre is not null and genre is not empty %}
        <h2>Genre: </h2>
        <p class="indented">
          {{ gen }}
        </p>
      {% endif %}

      <h2>Is Part Of: </h2>
      <p class="indented">
        {{ isPartOf }}
      </p>

      {% if handle is not null and handle is not empty %}
        <h2>HDL: </h2>
        <p class="indented">
          <a href="{{ handle|trim }}" target="_blank">
            {{ handle|trim }}
          </a>
        </p>
      {% endif %}

      {% if local is not null and local is not empty %}
        <h2>URL: </h2>
        <p class="indented">
          <a href="{{ local|trim }}" target="_blank">
          {{ local|trim }}
          </a>
        </p>
      {% endif %}

      {% if access is not null and access is not empty %}
        <h2>Access Conditions: </h2>
        <p class="indented">
          {{ access|trim }}
        </p>
      {% endif %}

      <p style="clear:both; font:italic normal 8px Georgia, serif; color:gray; text-align:right; margin-right:20px">
        Cover sheet design by Grinnell College Libraries
      </p>

    </body>

  </html>

  {% endautoescape %}
{% endblock %}